<div class="mx-4">
  <p><strong><%= @question %></strong></p>
  <p>- You </p>
</div>

<div class="alert alert-warning mx-4" role="alert">
  <p><strong><%= @answer %></strong></p>
  <p>- Your Coach </p>
</div>
<div class="mx-4">
<%= link_to 'Ask another question', ask_path, class: 'text-decoration-none' %>
</div>
